<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^/?$ application/view/public/index.php [NC,L]
	RewriteRule ^home/?$ application/view/public/index.php [NC,L]
	RewriteRule ^category/?$ application/view/public/categories.php  [NC,L]
	RewriteRule ^view-product/?$ application/view/public/view-product.php  [NC,L]
	RewriteRule ^register/?$ application/view/public/register.php [NC,L]
	RewriteRule ^search/?$ application/view/public/search-view.php [NC,L]

	RewriteRule ^my_ads/?$ application/view/seller/my_ads.php [NC,L]
	RewriteRule ^new-product/?$ application/view/seller/new-product.php [NC,L]
	RewriteRule ^login/?$ application/view/seller/login.php [NC,L]



#	Admin Views
	RewriteRule ^suadmin/?$ application/view/superadmin/index.php [NC,L]

	RewriteRule ^users/?$ application/view/superadmin/users.php [NC,L]
	RewriteRule ^products/?$ application/view/superadmin/products.php [NC,L]
	RewriteRule ^categories/?$ application/view/superadmin/categories.php [NC,L]
	RewriteRule ^hostel/?$ application/view/superadmin/hostel.php [NC,L]


#	Admin Controllers
    RewriteRule ^create_category/?$ application/controller/superadmin/create_category.php [NC,L]
    RewriteRule ^create_hostel/?$ application/controller/superadmin/create_hostel.php [NC,L]
    RewriteRule ^delete_category/?$ application/controller/superadmin/delete_category.php [NC,L]
    RewriteRule ^delete_hostel/?$ application/controller/superadmin/delete_hostel.php [NC,L]
    RewriteRule ^delete_product/?$ application/controller/superadmin/delete_product.php [NC,L]
    RewriteRule ^delete_user/?$ application/controller/superadmin/delete_user.php [NC,L]
    RewriteRule ^edit_hostel/?$ application/controller/superadmin/edit_hostel.php [NC,L]
    RewriteRule ^edit_user/?$ application/controller/superadmin/edit_user.php [NC,L]
    RewriteRule ^edit_category/?$ application/controller/superadmin/edit_category.php [NC,L]

#Assets
RewriteRule ^assets/?$ ../assets [NC,L]

	
</IfModule>

#DirectoryIndex application/view/public/index.php
RewriteEngine on
RewriteRule ^$ /application/view/public/index.ph [L]