#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #f8f9fa;
    color: #000;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386d500;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    /*background: #fff;*/
    color: #7386D5;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 40px 0px 5px 0px;
    background: #e0e0e0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;

}
#sidebar ul.componentsp {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    /*position: absolute;*/
}



#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000;
}
.pub {
    padding: 5px 10px 5px 10px !important;

    display: block;
    color: #000;
    font-size: 15px !important;
    margin-top: 5px;
}


#sidebar ul li a:hover {
    color: #ffffff;
    background: #464748;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #464748;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.home{
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386d500;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.bg-white{
    background-color: #ffffff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
   Footer
----------------------------------------------------- */

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;

}



footer{
    background-color:#222222;
    padding: 15px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:20px;
}

footer ul li{
    float:left;
}

footer ul li a{
    color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
    color:#7dabdb;
    text-decoration:none;
}

.footer-top{
    padding-bottom:20px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
}

